/* Mesaje */

.mensaje {
   font-size: 20px;
}

.izquierda {
    float: left;
}

.derecha {
    float: right;
   
}


.btnMenu {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    background: whitesmoke;
}

.btnMenu:hover {
    background: gainsboro;
 }
 
.btnMenu:active {
    background: gray;
 }

.actual {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    background: gray;
 }

/* Listado */
table {
    text-align: left;
    /*border: 1px solid black;*/
}

