
/* Listado */
.detalle {
    margin: auto;
    text-align: left;
    width: 50%;
    border: 0px solid black;
}

.detalle td {
    border: 0px solid gray;
    height: 25px;
}

.col1 {
    font-weight: bold;
    text-align: right;
    width: 100px;
}

.dato {
    width: 100%;
}