.numAdmins {
    text-align: center;
    
    
}

/* Listado */
.tabla1 {
    text-align: left;
    width: 100%;
    /*border: 1px solid black;*/
}

/*td {
    border: 1px solid gray;
}*/

.nombreUsuario {
    font-size: 20px;
}

.blanco {
    background-color: white; 
}

.gris {
    background-color: rgb(230, 230, 230); 
}
